.comments>ul {
    display: flex;
    flex-direction: column;
    padding: 1rem;
}

.comments>ul>li {
    padding: 10px 5px 10px 5px;
    margin: 5px 5px 0px 0px;
    border-radius: 2px;
}
.comments>ul>li:hover {
    background-color: white;
    border-radius: 5px;

}

.comments a {
    color: #799fcbff;
    text-decoration: none;
}

.comments a:hover {
    text-decoration: underline;
}

#commentBody {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: 100%;
    margin-left: 10px;
} 
#commentOverview {
    display: flex;
    justify-content: space-between;
}


.commentIcons {
    width: 1rem;
    height: 1rem;
}

.commentIcons:hover {
    cursor: pointer;
}

.commentorProfilePic {
    width: 34px;
    height: 34px;
    border-radius: 50%;
}

#commentBody>a {
    font-size: 15px;
}

#commentBody>div{
    font-size: 14px;
}
