.postDisplay {
    background-color: #212124;
    width: 100%;
    height: 80vh;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}

.postDisplay>img {
    width: 60%;
    height: 85%;
}

#linkHomepage {
    position: absolute;
    top: 24px;
    left: 20px;
    font-size: 14px;
    color: #fff;
    text-decoration: none;
}
/* #posterProfilePic {
    width: 30px;
    height: 30px;
} */


#postShowBottom {
    display: flex;
    align-items: flex-start;
    background-color: #f3f5f6;
    padding-left: 15vw;
    padding-right: 15vw;
    flex-wrap: wrap;
}

#postShowLeft, 
#postShowRight {
    margin-top: 16px;
}

#postShowLeft {
    margin-right: 70px;
    width: 550px;
}

#postShowRight {
    width: 350px;
}



#postUpdate,
#postDelete {
    /* width: 22rem; */
    background-color: white;
    text-align: left;
    margin: 10px;
    padding: 20px;
    border: darkgray;
    border-style: solid;
    border-width: 1px;
    border-radius: 5px;
}

#postDelete {
    width: 40%;
}

#postUpdate input {
    width: 90%;
    height: 100%;
    border-style: none;
    cursor: pointer;
    border-radius: 5px;
}

#postUpdate button, 
#postDelete button {
    width: 128px;
    height: 36px;
    border-style: none;
    cursor: pointer;
    border-radius: 5px;
    color: white;
    font-size: 16px;
    font-weight: 600;

}

#postUpdate button {
    background-color: #c9b4edff;
}

#postDelete button {
    background-color: rgb(247, 87, 87);
}

#postTitleInput,
#postDescriptionInput {
    border: darkgray;
    border-style: solid;
    border-width: 1px;
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    padding: 5px;
}

.postInfoTop {
    width: auto;
    margin: 20px 0px 10px 0;
}

.postInfoTop h6 {
    margin-top: 10px;
    font-size: 16px;
    font-weight: bold;
}

.postInfoBottom {
    width: auto;
    /* margin: 0 20vw; */

}

.postInfoBottom p {
    font-size: 14px;
    font-weight: 400;
}

.postInfoTop>a {
    font-size: 1.25rem;
    font-weight: bold;
}

.postInfoTop a:link,
.postInfoTop a:visited,
.postInfoTop a:hover,
.postInfoTop a:active {
    text-decoration: none;
    color: black;
}

#copyright>img,
#postUpdate>form>h6>img {
    width: 1rem;
    height: 1rem;
} 

#postStats {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 10px;
    border-bottom: 1px solid #cfd6d9;
}


#faveStats,
#commentsStats,
#takenStats {
    display: flex;
    flex-direction: column;
    margin: 10px;
    width: auto;
}

.smallStats {
    font-size: 14px;
}

#faves, 
#comments {
    color: grey;
}

.postShowInfo {
    display: flex;
    padding: 0px 0px 15px 0px ;
    border-bottom: 1px solid #cfd6d9;
}
.postShowInfo a {
    align-self: center;
}

.postShowInfo img{
    width: 45px;
    height: 45px;
    align-self: center;
    margin-right: 10px;
}


#likesSummary {
    display: flex;
    padding: 1rem 0.75rem;
    border-bottom: 1px solid #cfd6d9;
    font-size: 15px;
}

.likerUsername {
    text-decoration: none;
    color: #799fcbff;
}