.userCover {
    background-image: url('./brooklynBridge.png');
    /* background-image: ; */
    background-size: cover;
    background-position: center;
    width: auto;
    height: 25vh;
    display: flex;
    justify-content: left;
    align-items: flex-end;
    color: white;
    padding: 30px 145px;
}

.userCover h4 {
    font-size: 36px;
    font-family: Proxima Nova,
        helvetica neue,
        helvetica,
        arial,
        sans-serif;
}

.userCover h4,
.userCover li {
    padding-left: 1rem;
}

.userCover h6 {
    font-size: 16px;
    font-family: Proxima Nova,
        helvetica neue,
        helvetica,
        arial,
        sans-serif;
}

.userCover img {
    width: 100px;
    height: 100px;
    border-radius: 50px;
}

#coverHeading {
    display: flex;
}
#coverHeading button {
    margin-left: 30px; 
    background-color:rgba(255, 255, 255, 0.2);
    border: 2px solid white;
    border-radius: 4px;
    color: white;
    font-weight: 600;
    width: 3rem;
    font-size: 16px;
    cursor: pointer;
}

#coverHeading button:hover {
    background-color: white;
    color: black;
}


.selectionMenu {
    height: auto;
    /* background-color: aqua; */
    width: auto;
    padding: .75rem;
    border: darkgrey;
    border-style: solid;
}

.selectionTabs {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    border-color: darkgray;
    border-style: solid;
    width: 80%;
    padding-left: 145px;
}

.selectionTabs li {
    padding: 3px 20px;
    list-style: none;
    text-align: center;
    cursor: pointer;
    transition: all 0.7s;
    border-bottom-left-radius: 2rem;
    border-top-left-radius: 2rem;
    color: grey;
}

#userNames {
    width: 100%;
}

#userInfo {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}

.selectionTabs li:hover,
.selectionTabs li:active {
    border-bottom: 3px #c9b4edff;
    border-style: solid;
    border-radius: 0;
}

.selectionTabs li:active {
    color: black;
}

.menuSelection {
    width: auto;
    height: 50vh;
    background-color:#f3f5f6;
    display: flex;
    justify-content: center;
}

.selections {
    width: 100%;
}

.selections > ul {
    display: flex;
    justify-content: space-around;
    align-items: space-around;
    flex-wrap: wrap;
}


.selections img {
    width: 30vw;
    height: 20vw;
    padding: 2px;
}

#aboutSelection {
    border: grey solid 1px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 35px;
    width: 70%;
    background-color: white;
    margin: 20px;
    border-radius: 5px;
}

#aboutSelection > textarea, 
#aboutSelection > h4 {
    margin: 20px;
}

#aboutSelection>textarea {
    width: 90%;
    height: 40%;
}

#profileLinksList {
    width: 10%;
}

#profileLinksList button,
#profileLinksList li {
    font-size: 1rem;
    padding: 0;
    margin: 0;
    width: 100%;
    color: black;
}

#profileLinksList a {
    width: 100%;
}

#profileLinksList button:hover {
    background-color: rgb(223, 223, 223);
}