#commentFormSubmit, #commentUpdateSubmit {
    width: 128px;
    height: 36px;
    border-style: none;
    cursor: pointer;
    background-color: #799fcbff;
    color: white;
    margin: 10px 0px 10px auto;
    border-radius: 5px;
    font-size: 14px;
    font-weight: 600;
}

.commentForm, 
.editCommentForm {
    width: 90%;
}

#commentBody>label,
#commentBody>form, 
#commentBody>div {
    width: 100%;
}


.commentForm textarea, 
.editCommentForm textarea {
    width: 100%;
    height: 52px;
}

.commentForm textarea {
    margin-left: 10px;
}

.commentForm, 
.editCommentForm {
    display: flex;
    flex-direction: column;
}

#newCommentSection {
    display: flex;
}